body
{
	background:#82CAFF;
}

#banner
{
	font-family: arial, sans-serif;
	color:#493D26;
	text-align: center;
}

#sub_banner
{
	font-family: arial, sans-serif;
	color:#493D26;
	text-align: center;
}

#nav_menu 
{
	font-family: arial, sans-serif;
	font-weight:bold;
	position: absolute;
	width: 2000px;
	height:60px;
	font-size:14px;
	color:#6D7B8D;
	margin: 0 auto;
	border-top:3px solid #6D7B8D;
	border-bottom:3px solid #6D7B8D;
}

#nav_menu ul 
{
	list-style-type: none;
}

#nav_menu ul li 
{
	float: left;
	position: relative;
}

#nav_menu ul li a 
{
	text-align: center;
	border-right:1px solid #6D7B8D;
	border-left:1px solid #6D7B8D;
	padding:10px;
	display:block;
	text-decoration:none;
	color:#6D7B8D;
}

#nav_menu ul li:hover a 
{
	background:#48CCCD;
	color:#493D26;
}

#nav_menu ul li ul 
{
	display: none
}

#nav_menu ul li:hover ul 
{
	display: block;
	opacity: 6;
	position: absolute;
}

#nav_menu ul li:hover ul li a 
{
	display:block;
	background:#12aeef;
	color:#ffffff;
	width: 110px;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
	border-right: none;
}

#nav_menu ul li:hover ul li a:hover 
{
	background:#48CCCD;
	color:#493D26;
}

#classes_table
{
	position: center;
	border-collapse: collapse;
	border: 1px solid black;
	width: 300px;
	margin: auto;
}

img.home_pic
{
	margin-top: 2cm;
	margin:left;
}

#class_table_header
{
	height: 50px;
}

tr, td
{
	font-family: arial, sans-serif;
	border: 1px solid black;
	text-align: center;
}

img.about_pic
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#about_text
{
	margin-left:2cm;
}

#accomplishment_bullets
{
	margin-left:3cm;
}